
  /* inicio service */

  #bg_sercice_curso {
    background: #ffffff;
    color: #303841;
  }

  #header_size_pg_curso {
      height: 60px;
      font-size: 10px;
  }

  #h1_curso_size {
    font-size: 20px;
    margin: 20px;
  }
  
  .service_section {
      background: #303841;
      color: #ffffff;
    }
    
    .service_section .box {
      margin: 10px;
      text-align: center;
      -webkit-transition: all .3s;
      transition: all .3s;
      margin-top: 45px;
      border-radius: 5px;
      overflow: hidden;
    }
    
    .service_section .box .img-box img {
      width: 100%;
      height: 100%;
    }

    #box_videos_curso {
        width: 80%;
        height: 80%;

    }
    
    .service_section .box .detail-box {
      padding: 25px;
      background: #ffffff;
      color: #000000;
    }
    
    .service_section .box .detail-box h5 {
      font-weight: 600;
    }
    
    .service_section .box .detail-box a {
      color: #8019c8;
    }
    
    .service_section .btn-box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-top: 45px;
    }
    
    .service_section .btn-box a {
      display: inline-block;
      padding: 10px 45px;
      background-color: #8019c8;
      color: #ffffff;
      border-radius: 5px;
      -webkit-transition: all .3s;
      transition: all .2s;
      border: 1px solid #8019c8;
    }
    
    .service_section .btn-box a:hover {
      background-color: transparent;
      color: #8019c8;
    }

    iframe {
      box-shadow: 0px 24px 17px -12px rgba(99,99,99,0.82);
    }
  
    /* final service */